In [1]:
# notebook file

# ipynb  - interactive python notebook

In [ ]:
# python programming:

# data types

int   -   Integer - Non Decimal Number -Infinty to +Infinty
float -   Float   - Decimal Number -Infinty to +Infinty
str   -   String  - when anything/whatever is inside ' ' or " "

bool
complex
list
tuple
set
dict
None

In [2]:
Hello

NameError: name 'Hello' is not defined

In [3]:
'123.234234'

'Hello'

In [4]:
'123.234234'

'123.234234'

In [5]:
"123.234234"

'123.234234'

In [6]:
123

123

In [7]:
123.34543

123.34543

In [10]:
'Magesh'
'hello'
'Next'
'world'

'world'

In [ ]:
# print()
# print is a function in python.
# print is used to display the output.
#

In [11]:
123
123.123123
234234.23423
234

234

In [12]:
print(123)
print(123.123123)
print(234234.23423)
print(234)

123
123.123123
234234.23423
234

In [ ]:
print('hello')

In [14]:
print('123')
print(123)
print("123")

123
123

In [ ]:
'234.'

In [15]:
# type(Object)
# type is a function in python
# type is used to check the data-type of Object

In [16]:
type(121231231323121231231323121231231323121231231323121231231323121231231323)

int

In [17]:
type(234.) # float

float

In [ ]:
# Anything after to # Will not be executed by python in that  particular line.

In [ ]:
# comments: #  shortcut - ctrl+/ | command+/
# comments are used to explain the code
# comments are not executed by the python

In [21]:
'one'

# wh IDE
  # google colab
  # vs code
  # jupyter notebook
# wh programming
# wh data types
  # int
  # float
  # str
# print()
# type()
# comments

'one'

In [22]:
print("Magesh")

Magesh

In [24]:
print(int)    # <class 'int'>
print(float)  # <class 'float'>

print(str)    # <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [26]:
print(type('24234')) # <class 'str'>

# step1 - type('24234') # str
# step2 - print(str)    # <class 'str'>

<class 'str'>

In [ ]:
step1 - to download python
step2 - open terminal / command prompt
step3 - python3 --version / python --version

example for python file

In [ ]:
print(int)    # <class 'int'>
print(float)  # <class 'float'>

print(str)    # <class 'str'>

print(type('24234')) # <class 'str'>

# step1 - type('24234') # str
# step2 - print(str)    # <class 'str'>

type(121231231323121231231323121231231323121231231323121231231323121231231323)


type(234.) # float


print('123')
print(123)
print("123")


"123.234234"



bool
complex
list
tuple
set
dict
None

In [ ]:
print(1)

In [2]:
a = '    i live in india     '
a.strip(' ')

'i live in india'

In [6]:
a = '    i live in india     '
a.strip()

'i live in india'

In [3]:
a

'    i live in india     '

In [5]:
a = ',,,,i live in india,,,,'
a.strip(',')

'i live in india'

In [ ]:
a = ',,I,,i live in india,,,,'
a.strip(',')

In [1]:
str()

''

In [2]:
type('sdfa') # str

str

In [1]:
type('sdfa')  == str

True

In [3]:
int == type(int('234')) # True

True

In [2]:
int('234') # int

234

In [ ]:
type(int) #  int

In [1]:
import json

a = 234

b = json.dumps(a)
b # '234'

'234'

In [2]:
type(b)

str

In [3]:
a = {'Magesh':'234',"number":123,'name':'Jasmine'}

b = json.dumps(a)
b

'{"Magesh": "234", "number": 123, "name": "Jasmine"}'